.header a {
    color: #000;
}

/* header */

.header {
    background-color: #fff;
    width: 100%;
    z-index: -1;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

.header li a:hover, .header input:hover {
    background-color: #f4f4f4;
    border-radius: 10px;
}

.logo {
    display: block;
    float: left;
}

.logo img {
    max-width: 120px;
}

/* menu */

.menu {
    clear: both;
    float: right;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/* menu icon */

.menuIcon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.menuIcon span {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    width: 18px;
}

.menuIcon span:before, .menuIcon span:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.menuIcon span:before {
    top: 5px;
}

.menuIcon span:after {
    top: -5px;
}

/* menu btn */

.header input {
    display: none;
}

.header input:checked~ul {
    max-height: 240px;
}

.header input:checked~label span {
    background: transparent;
}

.header input:checked~label span:before {
    transform: rotate(-45deg);
    top: 0;
}

.header input:checked~label span:after {
    transform: rotate(45deg);
    top: 0;
}

/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header label {
        display: none;
    }
}
