:root {
    --max-width-img: 130px;
    --max-width-portfolio: 900px;
}

.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    justify-items: center;
    max-width: var(--max-width-portfolio);
    margin: 0 auto;
    padding: 0 25px;
}

.portfolio h2 {
    color: white;
    font-size: 2em;
    grid-column: 1/-1;
    text-align: center;
}

.portfolio img {
    width: 100%;
    max-width: var(--max-width-img);
    filter: invert(100%);
    padding-bottom: 50px;
}

@media only screen and (max-width: 450px) {
    .portfolio {
        grid-template-columns: 1fr 1fr;
    }
    .portfolio img {
        width: 100px;
    }
}
