.portfolio {
    background: #000;
    min-height: 300px;;
}

.clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.clients div:nth-child(1) { 
    color:white;
    font-size: 2em;
    grid-column: 1/-1;
    text-align: center;
  }

/* .portfolio li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
} */
  
/* .text-infinite {
    background: #ffcd1a;
    font-size: 27,41 pt;
    color: white;
    height: 30px;
}
  
.text-infinite > .text-animation {
    animation: flowing 8s linear infinite;
    transform: translateX(100%);
} */
