.portfolio {
    background: #000;
    min-height: 300px;
    ;
}

.clients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    max-width: 900px;
    margin: 0 auto;
    padding: 50px 0;
}

.clients div:nth-child(1) {
    color: white;
    font-size: 2em;
    grid-column: 1/-1;
    text-align: center;
}
