.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner>h2 {
    text-align: center;
    font-size: 6vmax;
    max-width: 60vmax;
}

.banner>div>h2 {
    display: none;
}

.banner h2>span {
    background: url("https://github.com/devw/zerance/raw/master/src/images/brush_stroke.png") bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 600px) {
    .banner>h2 {
        transform: rotate(85deg);
        transition-duration: 1s;
        width: 250px;
        padding: 70px 0;
        height: 100px;
    }
    .banner>h2>span {
        display: none;
    }
    .banner>div>h2 {
        display: block;
        font-size: 6vmax;
        transform: translateX(40px);
    }
    .banner h2, h3 {
        margin: 0;
    }
    .banner h3 {
        transform: translateX(-20px);
    }
}
