.logo {
    float: left;
    height: 80px;
}
.logo img {
    /* vertical-align: top; */
    display: none;
}

/* 48em = 768px @ 16pt font */
@media (min-width: 48em) {
    .logo img {
        display: block;
        height: 400px;
    }
}
