:root {
    --min-height: 380px;
    --next-slide: 30px;
}

.slider {
    display: flex;
    overflow: auto;
}

.slider>div {
    width: calc(100% - var(--next-slide));
    max-height: 90vh;
    flex-shrink: 0;
    display: grid;
    grid-template-columns: 1fr auto auto var(--next-slide);
    align-items: center;
}

.slider img {
    width: 100%;
    z-index: -1;
    min-height: var(--min-height);
    grid-column: 1 / span 4;
    grid-row: 1;
    object-fit: cover;
}

.slider a {
    opacity: 1;
    grid-column: 3;
    grid-row: 1;
    padding: 20px;
}

.slider a i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 2vw;
}
