.caption {
    background-color: #fff;
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    max-width: 400px;
    font-size: 1.2em;
    opacity: 0.9;
}

.caption h2 {
    font-weight: 100;
}

.caption h4 {
    background: url("../../images/brush_stroke.png") bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 5px;
}

.caption h4:hover {
    cursor: pointer;
    font-style: italic;
}
